.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.nav-side {
  /* background: darkgray; */
  border-right: solid 5px #eee;
  width: 123px;
  box-shadow:  darkgray;
}

.active {
  color:  #383737;
  font-weight: bolder;
  /* border-bottom: solid 2px darkblue; */
  background-color: #F5F5F5;
}

.column-name {
  width: 20%;
}

.column-url {
  width: 70%;
}

.column-preview {
  width: 60px;
} 
.column-actions {
  width: 90px;
}

.input-search {
  margin-right: 20px;
  margin-top: 10px;
  display: block;
  float: right;
}

.img {
  height: 25px;
  width: 25px;
}

.full-size-image {
  display:none;
  margin-left: -64px;
  padding:10px;
  margin-top:5px;
  background:#f3f3f3;
  height:auto;
  z-index: 100;
  width:auto;
  -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
  box-shadow:0 5px 5px rgba(0,0,0,0.3);
}

.img:hover ~ .full-size-image {
  display:block;
  position:absolute;
  top:inherit;
}

.preload {
  position: absolute;
  top: 50%;
  left: 48%;
}
