<div>
    <h1>{{title | uppercase}}</h1>

    <mat-form-field class="input-search">
        <input
            matInput
            #searchBox
            (keyup)="search(searchBox.value)"
            placeholder="Search"
        >
    </mat-form-field>
</div>
<div>
    <table
        mat-table
        [dataSource]="emojisArray"
        class="mat-elevation-z8"
    >
        <ng-container matColumnDef="name">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Имя
            </th>
            <td
                mat-cell
                *matCellDef="let emoji"
                class="column-name"
            >
                {{emoji.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="url">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Ссылка
            </th>
            <td
                mat-cell
                *matCellDef="let emoji"
            >
                {{emoji.url}}
            </td>
        </ng-container>

        <ng-container matColumnDef="preview">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Превью
            </th>
            <td
                mat-cell
                *matCellDef="let emoji"
                class="column-preview"
            >
                <img
                    class="img"
                    src="{{emoji.url}}"
                    alt="{{emoji.name}}"
                >
                <div class="full-size-image">
                    <img src="{{emoji.url}}">
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Действия
            </th>
            <td
                mat-cell
                *matCellDef="let emoji"
                class="column-actions"
            >
                <button
                    mat-raised-button
                    (click)="restore(emoji)"
                >
                    Восстановить
                </button>
            </td>
        </ng-container>

        <tbody>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
            ></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns;"
            ></tr>
        </tbody>
    </table>
</div>
